@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

ul,
li {
  list-style: none;
}

.mb {
  @apply mb-[8.5rem];
}

.container {
  @apply w-[min(100%-5rem,_60rem)] mx-auto;
}

@media (max-width: 1000px) {
  .container {
    @apply w-[min(100%-2rem,_60rem)] mx-auto;
  }
}

/* color light - #5272b2 */
/* color dark - #324160 */
/* color text - #a0a09f */
/* color yellow - #cbb492 */
